[mcu tool0]
serial: /dev/serial/by-id/usb-Klipper_rp2040_313436333211361D-if00
restart_method: command

[tool tool0] # defines the tool, extruder, and what fans to use, as well as input shaper.
toolchanger: toolchanger
tool_number: 0
extruder: extruder
params_type: 'rods_mini_hookon'
fan: multi_fan tool0_partfan
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
# Position with the toolhead aligned with the dock - this is done during the calibration steps from DraftShift's toolchanger repo!!!!!!!
params_park_x: 15
params_park_y: 0
params_park_z: 228.8
# pickup_gcode: - still trying to determine how to actually configure this, or if it's even needed, since toolchanger implements a tool change procedure based on your park params anyway
  # Gcode to run to pick up this tool, if empty, there is no pickup code.
  # The gocode can use `tool` and `toolchanger` variables to access
  # [their status](Status_Reference.md#tool).
# dropoff_gcode:
  # Gcode to run to drop off this tool, if empty, there is no dropoff code.
# gcode_x_offset: 0
# gcode_y_offset: 0
# gcode_z_offset: 0
  # The XYZ gcode offset of the toolhead. If set, overrides offset defined 
  # by the parent. If set, even to 0, indicates the offset on that axis is 
  # relevant for this tool and any adjustments will be attributed to this tool.  
# params_*: 
  # Extra params to pass to pickup/dropoff gcode. Accessible in the gcode via
  # `tool.params_name`.
  # Some example params:
  #  params_dock_x: 10.0
  #  params_dock_y: 50.0
  #  params_retract_mm: 8 
# t_command_restore_axis: XYZ
   # Which axis to restore with the T<n> command, see SELECT_TOOL for command for more info.    
## input shaper below
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 62.2
params_input_shaper_damping_ratio_x: 0.01
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 44.0
params_input_shaper_damping_ratio_y: 0.01  

[tool_probe_endstop]
crash_mintime: 0.5 # seconds to wait before announcing a crash, if the probe stops 
  #triggering before this, no crash is reported. 
crash_gcode:
    RESPOND TYPE=error MSG='Tool not detected, expected {printer.toolchanger.tool_number}. Pausing the print.' 
    M84
    TURN_OFF_HEATERS

#####################################################################
# 	Extruder
#####################################################################

[extruder]
step_pin: tool0:gpio23
dir_pin: tool0:gpio24
enable_pin: !tool0:gpio25
pullup_resistor: 2200
rotation_distance: 21.1757 
gear_ratio: 50:10 	
microsteps: 32
full_steps_per_rotation: 200 	
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: tool0:gpio9
#	Thermistor types below:
#	https://www.klipper3d.org/Config_Reference.html#common-thermistors
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: tool0:gpio29
min_temp: 0
max_temp: 350
max_power: 1.0
min_extrude_temp: 170
control = pid
pid_Kp=36.999
pid_Ki=4.485 
pid_Kd=76.313

[tmc2209 extruder] # make sure to change this if you aren't living in the stone age and using tmc2209's like me
sense_resistor: 0.100
uart_pin: tool0:gpio0
tx_pin: tool0:gpio1
interpolate: false
run_current: 0.5

#####################################################################
#   Fans
#####################################################################

## PCF
[multi_fan tool0_partfan]
pin: tool0:gpio6
#tachometer_pin: tool0:gpio17 # only needed if you care about knowing how fast the fan is spinning. this is part of LDO's config for the nitehawk-SB.
#tachometer_ppr: 2

## HEF
[heater_fan tool0_hotend_fan]
pin: tool0:gpio5
heater: extruder # this parameter is not presented in any of the existing tool example configs in either DraftShift or V's repos, but is essential for mapping the correct HSF to the correct extruder.
heater_temp: 50.0
kick_start_time: 0.5
#tachometer_pin: tool0:gpio16
#tachometer_ppr: 2

#####################################################################
# 	Probe
#####################################################################

## Probe Port
[tool_probe tool0]
pin: tool0:gpio10
tool: 0 # this is where the majority of "Internal error during connect: can only concatenate str (not "int") to str" type beat will originate from
x_offset: 0
y_offset: 0
z_offset: 1
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3   

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

#####################################################################
#   Lights
#####################################################################

##Stealthburner Headlights
[neopixel sb_leds]
pin: tool0:gpio7
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

## PCB Activity Light
[output_pin act_led]
pin: !tool0:gpio8

#####################################################################
#   Accelerometer
#####################################################################

[adxl345 tool0] # make sure all these pins are assigned the correct MCU, klipper will complain about ADXL pins being on separate MCU's if you don't
cs_pin: tool0:gpio21
spi_software_sclk_pin: tool0:gpio18
spi_software_mosi_pin: tool0:gpio20
spi_software_miso_pin: tool0:gpio19
axes_map: x,z,y

[resonance_tester]
accel_chip: adxl345 tool0
probe_points:
    155, 155, 20

#################################################################
#	Macros
#################################################################

[gcode_macro tool0]
variable_color: ""
gcode:
  SELECT_TOOL T=0 # DO NOT MISS ME! I'M IMPORTANT TOO!!!



