## This is a function to enable crash detection for the toolhead. I don't know why it's so distantly referenced that it needs its own CFG file.

[tool_probe_endstop]
crash_mintime: 0.5 # seconds to wait before announcing a crash, if the probe stops 
  #triggering before this, no crash is reported. 
crash_gcode:
    RESPOND TYPE=error MSG='Tool not detected, expected {printer.toolchanger.tool_number}. Pausing the print.' 
    M84
    TURN_OFF_HEATERS
